
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <% @artists.each do |a| %>
      <div class="col-md-3">
      <div class="thumbnail">
        <img src="<%= a.image_url %>" alt="">
        <div class="caption">
          <h1><%= a.name %></h1><br>
          <p  ><%= link_to "Ver más", artist_path(a), class:"btn btn-primary btn-lg btn-block" %></p>
        </div>
      </div>
    </div>
      <% end %>
    </div>
  </div>
</div>
